################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BaggageSort/v15/sqlite3/db.lock
C:\Users\ZBC\source\repos\BaggageSort\BaggageSort\obj
C:\Users\ZBC\source\repos\BaggageSort\BaggageSort\bin